.chat-messages {
  min-height: 300px;
  height: 100%;
  margin: 0.5rem 0 85px;
  border-color: #f3eeeaad;
  padding: 1rem;
  overflow-y: auto;
  transition: all ease-in-out 0.5s;
}

.chat-messages::-webkit-scrollbar {
  width: 10px;
}

.chat-messages::-webkit-scrollbar-track {
  border-radius: 1rem;
}

.chat-messages::-webkit-scrollbar-thumb {
  background: #776b5dab;
  border-radius: 11rem;
}

.chat-messages::-webkit-scrollbar-thumb:hover {
  background: #776b5d;
}

::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 8px;
}

::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 8px;
}

.chat-messages p {
  font-size: 0.85rem;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

.client-inputmsg {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 0.3rem;
  margin: 0.5rem 0;
  display: flex;
  gap: 8px;
  color: white;
}

.client-inputmsg img {
  width: 32px;
  height: 32px;
  margin-top: 1rem;
}

.client-inputmsg p {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 17.5px */
  width: 80%;
  padding: 1rem;
  border-radius: 20px 20px 5px 20px;
  background-color: #012e40;
  white-space: pre-wrap;
}

.bot-response {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 0.3rem;
  margin: 0.5rem 0;
  display: flex;
  gap: 8px;
}

.bot-response img {
  width: 32px;
  height: 32px;
  margin-top: 0.7rem;
}

.bot-response .botreponseSpan {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  width: 80%;
  padding: 1rem;
  border-radius: 20px 20px 20px 5px;
  background-color: #ededed;
  white-space: pre-wrap;
}

.bot-response .botreponseSpan {
  margin: 0.7rem 0;
}

.bot-response .botreponseSpan span {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.typed-cursor--blink {
  display: none;
}