
.chatbox-container {
    position: relative;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    margin: 2rem;
}

.messages-container {
    border-style: solid;
}

.input-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1.5rem;
    margin: 1rem;
}


