#root {
  /* max-width: 400px; */
}

.main-nav {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  justify-content: space-between;
  height: 11vh;
}

.main-nav .progress-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav .progress-title p {
  margin: 2rem 1rem 1rem;
  cursor: pointer ;
}

.main-nav .progress-title h4 {
  margin: 2rem 1rem 1rem;
  color: #012E40;
}

.progress-bar-container {
  color: #000!important;
  background-color: #EAEAEA!important;
  width: 100%;
}

.progress-bar-one {
  color: #000!important;
  border-radius: 1rem;
  background-color: #F9AA34!important;
  height: 4px;
  width: 10%;
}

.progress-bar-two {
  color: #000!important;
  border-radius: 1rem;
  background-color: #F9AA34!important;
  height: 4px;
  width: 50%;
}

.progress-bar-three {
  color: #000!important;
  border-radius: 1rem;
  background-color: #F9AA34!important;
  height: 4px;
  width: 80%;
}

.progress-bar-full {
  color: #000!important;
  border-radius: 1rem;
  background-color: #012E40!important;
  height: 4px;
  width: 100%;
}